 body{

    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg,#71b7e6,#9b59b6);
    padding: 10px;
}
.container{

    background: white;
    padding: 25px 35px;
    border-radius: 10px;

}
.container .title{
    font-size: 25px;
    font-weight: 500;

}
.container .title::before{
    content: '';
    position: absolute;
    height: 3px;
    width: 26px;
    background: linear-gradient(135deg,#71b7e6,#9b59b6);
    left: 0;
    bottom: 0;
}
.container form .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
}
form .user-details .input-box{
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
}
.user-details .input-box .details{
    margin-bottom: 5px;
    font-weight: 500;
    display: block;
}
.user-details .input-box input{
    height: 30px;
    width: 100%;
    outline: none;
    border-radius: 10px;
    padding: 10px;
    font-size: 15px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}
.user-details .input-box input:focus,
.user-details .input-box input:valid{
    border-color: #9b59b6;
}
form .gender-details .gender-title{
    font-size: 20px;
    font-weight: 500;
}
form .gender-details .category{
    justify-content: space-between;
    width: 80%;
    display: flex;
    margin: 15px 0;
}
form .button input{
    width: 100%;
    height: 50px;
    background: linear-gradient(135deg,#71b7e6,#9b59b6);
    border-radius: 30%;
    font-size: large;
    margin-top: 5%;
    font-weight: 600%;
    font-style: normal;
}
form .button input:hover{
    background: linear-gradient(135deg,#9b59b6,#71b7e6);
}
@media (max-width: 584px ){
    .container{
        max-width: 100%;
    }
    form .user-details .input-box{
        margin-bottom: 15px;
        width: 100%;
    }
    form .gender-details .category{
        width: 100%;
    }
    .container form .user-details{
        max-height: 300px;
        overflow-y: scroll;
    }
    .user-details::-webkit-scrollbar{
        width: 0;
    }

}